.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
img {
  display: block;
}
.button {
  cursor: pointer;
}
.body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.logo {
  margin-right: 93px;
}
.logo {
  font-family: "Raleway", Roboto;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: #2196f3;
}
.page-navigation {
  display: flex;
}
.page-heder-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.contact {
  display: flex;
}
.contact-gmail {
  margin-right: 50px;
  margin-left: auto;
}
.logo-header {
  color: #212121;
}
.text {
  display: flex;
}
.menu {
  display: flex;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu a {
  color: #212121;
}
.menu a:hover,
.menu a:focus {
  color: #2196f3;
}
.contact-phone-number {
}
.contact a {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #757575;
}
.contact a:hover,
.menu a:focus {
  color: #2196f3;
}
.open-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;

  color: #ffffff;
}
.open-btn :hover,
.open-btn :focus {
  color: #188ce8;
}
.open-btn {
  background-color: #188ce8;
}
.border h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.border {
  background-color: #2f303a;
}
.hero h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  padding-top: 94px;
  padding-bottom: 10px;
  margin-right: 30px;

  color: #212121;
}
.hero p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  flex-basis: calc(100%-90 / 4);
  color: #757575;
}
.pic {
  padding-top: 94px;
  padding-bottom: 94px;
}
.pic ul {
  display: flex;
  margin-right: 30px;
}
.pic li {
  margin-right: 30px;
}

.pic h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
.tim ul {
  display: flex;
}
.tim p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;

  color: #757575;
}
.tim h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
  color: #212121;
}
.tim h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: #212121;
}
.tim {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.tim li {
  margin-right: 30px;
}
.main-footer {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.main-footer a {
  color: #ffffff;
}

.main-footer {
  background-color: #2f303a;
}
.btn-main {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.03em;
}
.btn-main a {
  color: #ffffff;
}
.opacity {
  opacity: 60%;
}
.caption {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.86;
  letter-spacing: 0.06em;
  color: #212121;
}
.heading {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.86;
  letter-spacing: 0.03em;
  color: #757575;
}
.adr {
  font-style: normal;
}
.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
